@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Josefin Sans", sans-serif;
}

.sobre-nosotros {
  background-image: url(../img/diverse-team-of-people-presenting-business-growth-on-screen.jpg);
  position: relative;
  isolation: isolate;
}
.sobre-nosotros::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.quienes-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  margin-top: 4rem;
}
.quienes-somos .quienes-somos_titles {
  padding: 2rem;
}
.quienes-somos .quienes-somos_titles h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: rgba(255, 0, 128, 0.9333333333);
  margin-bottom: 17px;
}
.quienes-somos .quienes-somos_titles h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 12px;
}
.quienes-somos .quienes-somos_titles p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 12px;
}
.quienes-somos .quienes-somos_img img {
  max-width: 600px;
}
.quienes-somos .btn_sobre-nosotros {
  all: unset;
  cursor: pointer;
  background-color: rgba(255, 0, 128, 0.9333333333);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  margin-top: 17px;
  transition: 1s ease;
}
.quienes-somos .btn_sobre-nosotros:hover {
  background-color: rgba(255, 255, 255, 0.9333333333);
  color: rgba(255, 0, 128, 0.9333333333);
}
.quienes-somos .btn_sobre-nosotros a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.quienes-somos .btn_sobre-nosotros a:hover {
  color: rgba(255, 0, 128, 0.9333333333);
}

.about__crecimiento {
  background-color: #F5F5F5;
}
.about__crecimiento .about_crecimiento-titles h4 {
  margin-top: 2rem;
  padding-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(255, 0, 128, 0.9333333333);
}
.about__crecimiento h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}
.about__crecimiento .about_crecimiento-card {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.about__crecimiento .about_crecimiento-cards {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
}
.about__crecimiento .about_crecimiento-cards:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.about__crecimiento .about_crecimiento-cards h2 {
  color: rgba(255, 0, 128, 0.9333333333);
  font-size: 3rem;
  margin-top: 12px;
  font-family: "Josefin Sans", sans-serif;
}
.about__crecimiento .about_crecimiento-cards p {
  font-size: 1rem;
  margin-top: 12px;
  font-family: "Josefin Sans", sans-serif;
}

.about_solicitud {
  background-image: url(../img/about-image-2048x918.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;
  padding: 5rem;
}
.about_solicitud::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(204, 22, 113, 0.753);
  z-index: -1;
}
.about_solicitud .about_soli-container {
  margin-left: 10rem;
}
.about_solicitud .about_soli-container h3 {
  font-size: 1.5rem;
  margin-top: 12px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}
.about_solicitud .about_soli-container h2 {
  font-size: 3rem;
  margin-top: 22px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}
.about_solicitud .about_soli-container .btn_soli, .about_solicitud .about_soli-container .btn-soli {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 1.5rem;
  cursor: pointer;
}
.about_solicitud .about_soli-container .btn_soli a, .about_solicitud .about_soli-container .btn-soli a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
}
.about_solicitud .about_soli-container .btn-soli {
  background-color: #F5F5F5;
  border-radius: 12px;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.about_solicitud .about_soli-container .btn-soli:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.about_solicitud .about_soli-container .btn_soli {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 12px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.about_solicitud .about_soli-container .btn_soli:hover {
  background-color: #fff;
  color: #000000;
}/*# sourceMappingURL=estilo.css.map */