@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@media (min-width: 1440px) {
    main {
        padding: 0 15rem 2rem;
    }
    .about_solicitud {
        margin-top: 2rem;
    }
    .proyec_servis {
        margin-top: 2rem;
    }
    .contact-container {
        padding: 0 13rem 0 13rem;
    }
    
}