.footer {
    background-color: #000000ad;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 5rem 0 5rem;

        div {
            flex: 1;
            margin: 10px;

            h3 {
                margin-bottom: 10px;
                font-size: 1.3rem;
            }
        }
        .social-icons {
            i {
                padding: 6px;
            }
            a {
                color: #fff;
                margin: 0 3px;
                text-decoration: none;

                &:hover {
                    color: black;
                }
            }
        }
    }
    }
    input[type="email"] {
        padding: 10px;
        width: 70%;
        margin-right: 10px;
        border: none;
        text-align: center;
        border-radius: 5px;
    }
    button {
        padding: 10px 20px;
        margin-top: 7px;
        border: none;
        border-radius: 5px;
        background-color:$colorPrincipal;
        color: #fff;
        cursor: pointer;
        
        &:hover {
            background-color: transparent;
            border: 1px solid $colorPrincipal;
        }
    }
    p {
        margin: 10px 0;
    }

    $redes: (
        facebook: #3b3bc7b0,
        whatsapp:#0db80d,
        linkedin: #94aaf3,
        instagram:#8f1d5c
    );

@each $redsocial, $colordered in $redes {
    .bi-#{$redsocial} {
        background-color: $colordered;
    }
}